
.div{
	margin-left: 500px;
	margin-top: 200px;

}
.button {
   background: #1e1e1e;
   border: none;
   color: #fafafa;
   font-family: Roboto sans-serif;
   width: 150px;
   font-size: 20px;
   text-align: center;
   padding: 5px 0;
   display: block;
}
.code-color {
   text-transform: uppercase;
   font-size: 35px;

   color: #1e1e1e;
   font-weight: bold;
}